@model FwdHackathon.Models.TrendsList
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Find out what's trending!</h1>
</div>

<div class="row">
  <div class="col-8">
      @foreach(Trend t in Model.trends){
          <span>@t.name</span><br />
      }
  </div>
  <div class="col-4">
      col-4
  </div>
</div>
