@model IEnumerable<FwdHackathon.Models.Trend>
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
</div>

<div class="row">
  <div class="col-4">
    <h3>What's trending?</h3>
    @{
      int counter = 0;
    }
    @foreach (Trend t in Model)
    {
      <a class="trend-container" href="#">
        <div class="hashtag trend-name" onclick="handleClick(event)">@t.name</div>
        <div class="trend-cat">@ViewBag.listOfCategories[counter]</div>
      </a>
      counter++;
    }
  </div>
  <div class="col-8">
    <div class="card">
      <h5 class="card-header">Featured</h5>
      <div class="card-body">
        <h5 class="card-title">Click on a card to find out more 😊</h5>
      </div>
    </div>
  </div>
</div>

@section Scripts{
  <script>
    const handleClick = async (event) => {
        var txt = $(event.target).text();
        /* stop form from submitting normally */
        event.preventDefault();

        $.ajax({
            url: "@Url.Action("getMatches", "Home")",
            data: { 'word': txt },
            success: function (data) {
                $('h5.card-title').remove();
                $('p.card-text').remove();
                $('.card-body').append("<h5 class='card-title trend-title'><strong>" + data + "% of your customers relate to this topic</strong></h5>");

                $.ajax({
                    url: "@Url.Action("getTweets", "Home")",
                    contentType: 'application/json; charset=utf-8',
                    data: { 'hashtag': txt },
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            $('.card-body').append('<p class="card-text">' + data[i].fullText + ' - <span class="trend-author"><strong>' + data[i].author + '</span></strong></p>');
                            console.log(data[i].fullText)
                        };
                    },
                    error: function (er) {
                        console.log(er);
                    }
                });
            },
            error: function (er) {
                console.log(er);
            }
        });
    }
  </script>
}
