

<h2>Upload</h2>

<form method="post">
  <label for="fileupload" class="btn btn-primary monster-upload">
    Upload .csv file
  </label>
  <input id="fileupload" type="file" name="images" accept="image/gif, image/jpeg, image/png">
  <button class="btn btn-success" type="submit">Confirm</button>
</form>