<div class="upload-title">
  <h2>Upload</h2>
  <div>
    <label for="fileupload" class="btn btn-primary">
      Upload file
    </label>
    <a id="confirm" class="btn btn-success" hidden>Confirm</a>
    <input id="fileupload" type="file" name="files" accept=".csv">
  </div>
</div>
<div class="upload-csv">
  <svg class="upload-svg" height="500" width="1100"></svg>
  <h2 class="upload-text">No data selected</h2>
</div>

@section Scripts {
  <script src="~/js/upload.js?v=13"></script>
}