html {
  font-size: 14px;
  --primaryColor: #FFAC1C;
  --secondaryColor: #FFC869;
  --tertiaryColor: #80560E;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Hides all upload file buttons */
input[type="file"] {
  display: none;
}

.upload-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload-svg {
  position: absolute;
}

.upload-csv {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border-radius: 8px;
  background-color: var(--secondaryColor) !important;
}

.upload-text {
  color: var(--tertiaryColor);
}

.navigation {
  background-color: var(--primaryColor) !important;
}

.navigation a {
  color: var(--tertiaryColor) !important;
}

.logo {
  font-weight: bold;
}

.fo {
  background-color: gray;
}

.fo-text {
  color: white;
}

  .fo-text a {
    text-decoration: none;
  }

.trend-container {
  display: flex;
  color: var(--tertiaryColor);
  text-decoration: none;
  padding: .5rem;
  margin-bottom: .5rem;
  background-color: var(--secondaryColor);
  border-radius: 5px;
}

.trend-container:hover {
  color: white;
}

.trend-name {
  width: 70%;
  font-weight: bold;
}

.trend-cat {
  width: 30%;
  font-style: italic;
}

.trend-title {
  color: var(--primaryColor);
}

.trend-author {
  color: var(--tertiaryColor);
}